$primary-color: #271549;
$secondary-color: #FDCE37;
$light-gray: #EFEEF3;
$dark-gray: #7C7C7C;

/*
* General
*/

body{
    background-color: $light-gray;
}

.navbar{
    padding: {
        left: 50px;
        right: 50px;
    };
    background-color: $primary-color !important;
    overflow: hidden;
}

.navbar-logo-container{
    width: 50px;
}

.nav-link{
    font-size: 1rem;
    padding-bottom: 7px !important;
}

.navbar-motif{
    position: absolute;
    top: -200px;
    right: 0;
    max-width: 400px;
}

h3{ 
    color: $dark-gray;
    text-transform: lowercase;
    letter-spacing: .5px;
    margin-bottom: 0 !important;

    &::first-letter{
        text-transform: uppercase;
    }
}

button.action-btn{
    color: $primary-color !important;
    background-color: #fff !important;
    border: 2px solid $secondary-color !important;

    &:hover{
        background-color: $secondary-color !important;
    }
}


/*
* Homepage
*/

.courses-container{
    background-color: rgba($color: $primary-color, $alpha: 0.5);
    border-radius: 5px;
    max-width: 1224px !important;
}

.course-link{
    color: $primary-color !important;
}

.course-card{
    width: 16.5rem !important;
    border: none;
    transition: box-shadow 0.3s ease-in-out;
    transition: 0.1s ease-in-out;

    &:hover{
        box-shadow: rgba(0, 0, 0, 0.25) 0px 0.0625em 0.0625em, rgba(0, 0, 0, 0.25) 0px 0.125em 0.5em, rgba(255, 255, 255, 0.1) 0px 0px 0px 1px inset;
        scale: 1.05;
    }
}

.course-card-body{
    width: 100%;
    background-color: $light-gray;
    transition: 0.1s ease-in-out;

    &:hover{
        background-color: $primary-color;
        color: #fff;
    }
}

