/*
* General
*/
body {
  background-color: #EFEEF3;
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  overflow: hidden;
}

.navbar {
  padding-left: 50px;
  padding-right: 50px;
  background-color: #271549 !important;
  overflow: hidden;
}

.navbar a:hover {
  color: #FDCE37 !important;
}

.navbar-logo-container {
  width: 50px;
}

.nav-link {
  font-size: 1rem;
  padding-bottom: 7px !important;
}

.navbar-motif {
  position: absolute;
  top: -200px;
  right: 0;
  max-width: 400px;
}

.navbar-right {
  z-index: 1000;
}

h3 {
  color: #7C7C7C;
  text-transform: lowercase;
  letter-spacing: .5px;
  margin-bottom: 0 !important;
}

h3::first-letter {
  text-transform: uppercase;
}

button.action-btn {
  color: #271549 !important;
  background-color: #fff !important;
  border: 2px solid #FDCE37 !important;
}

button.action-btn:hover {
  background-color: #FDCE37 !important;
}

.small-divider {
  height: 1px;
  width: 20px;
  background-color: rgba(50, 50, 50, 0.2);
  margin: 10px auto 5px;
}

/*
* Login
*/
.login-logo-container {
  position: absolute;
  top: 20px;
  left: 20px;
  width: 50px;
}

.login-left, .login-right {
  height: 100vh;
}

.login-left {
  background-color: #271549;
}

.login-img {
  -webkit-filter: drop-shadow(3px 3px 3px rgba(0, 0, 0, 0.4));
          filter: drop-shadow(3px 3px 3px rgba(0, 0, 0, 0.4));
}

.form-container {
  background-color: #fff;
  min-width: 300px;
  -webkit-box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
          box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}

.login-title {
  color: #271549;
  font-weight: bold !important;
}

.login-btn {
  background-color: #271549;
}

.login-btn:hover {
  background-color: #42237A;
}

.signup-group {
  font-size: .9rem;
}

/*
* Homepage
*/
.courses-container {
  background-color: rgba(39, 21, 73, 0.5);
  border-radius: 5px;
  max-width: 1224px !important;
}

.course-link {
  color: #271549 !important;
}

.course-card {
  width: 16.5rem !important;
  border: none;
  -webkit-transition: -webkit-box-shadow 0.3s ease-in-out;
  transition: -webkit-box-shadow 0.3s ease-in-out;
  transition: box-shadow 0.3s ease-in-out;
  transition: box-shadow 0.3s ease-in-out, -webkit-box-shadow 0.3s ease-in-out;
  -webkit-transition: 0.1s ease-in-out;
  transition: 0.1s ease-in-out;
}

.course-card:hover {
  -webkit-box-shadow: rgba(0, 0, 0, 0.25) 0px 0.0625em 0.0625em, rgba(0, 0, 0, 0.25) 0px 0.125em 0.5em, rgba(255, 255, 255, 0.1) 0px 0px 0px 1px inset;
          box-shadow: rgba(0, 0, 0, 0.25) 0px 0.0625em 0.0625em, rgba(0, 0, 0, 0.25) 0px 0.125em 0.5em, rgba(255, 255, 255, 0.1) 0px 0px 0px 1px inset;
  scale: 1.05;
}

.course-card-body {
  width: 100%;
  background-color: #EFEEF3;
  -webkit-transition: 0.1s ease-in-out;
  transition: 0.1s ease-in-out;
}

.course-card-body:hover {
  background-color: #271549;
  color: #fff;
}

/*
* Media queries
*/
@media only screen and (max-width: 768px) {
  .login-left {
    display: none !important;
  }
}
/*# sourceMappingURL=style.css.map */